body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f7f7f7;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.todo {
  cursor: pointer;
  margin: 8px 0;
  color:green;
}

.strike {
  text-decoration: line-through;
  color: red;
}

.toDoCard {
  background-color: #ffffff;
  color: #333333;
  font-weight: bold;
  border: 1px solid #dddddd;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  padding: 16px;
  margin: 16px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.submitButton {
  background-color: #4caf50;
  padding: 8px 16px;
  font-weight: bold;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #45a049;
}

.clearCompletedButton {
  border-radius: 10px;
  background-color: #ad0505;
  padding: 8px 16px;
  font-weight: bold;
  color: #ffffff;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-top: 10px;
}

.clearCompletedButton:hover {
  opacity: 1;
}

.formInputField {
  color: #333333;
  background-color: #ffffff;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.formInputField::placeholder {
  color: #999999;
}